.App {
  background-color: #f1faee;
  text-align: center;
}

.todo-list {
  background-color: #457b9d;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  width: 600px;
  height: 800px;
}

.todo-input {
  width: 400px;
}

.todo-row {
  width: 300px;
  border-radius: 10px;
  margin: 10px auto 0px auto;
  padding : 10px;
  background-color: #1d3557;
  color: #f1faee;
}